<div class="jumbotron">
  <h1 class="display-4 text-center">Let's Chatter!</h1>
  <p class="lead text-center">This is a simple chat app. Use it to chat with your friends.</p>
  <hr class="my-4">
  <p class="text-center">It uses websockets and action cable to chat!</p>

  <div class="container">
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Let's Go!</a>
    </div>
  </div>
</div>
</div>
